In [12]:
%%writefile new_file.txt
One on first
Two on second
Three on thrid

Overwriting new_file.txt

In [13]:
with open('new_file.txt',mode='r') as f:
    print (f.read())

One on first
Two on second
Three on thrid

In [14]:
with open ('new_file.txt',mode='a') as f:
    f.write('Four on fourth')

In [6]:
with open('new_file.txt',mode='r') as f:
    print (f.read())

One on first
Two on second
Three on thrid
Four on fourth

In [15]:
with open('new_file.txt',mode='a') as f:
    f.write('\nFive on fifth')

In [16]:
with open('new_file.txt',mode='r') as f:
    print (f.read())

One on first
Two on second
Three on thrid
Four on fourth
Five on fifth

In [9]:
with open('new_file.txt',mode='a') as f:
    f.write('\nFive on fifth')

In [17]:
with open('new_file.txt',mode='r') as f:
    print (f.read())

One on first
Two on second
Three on thrid
Four on fourth
Five on fifth

In [20]:
with open('november_2021.txt',mode='w') as f:
    f.write('DAY 2')

In [22]:
with open('november_2021.txt',mode='r') as f:
          print(f.read())

DAY 2