In [2]:
def square(num):
    return num**2

In [3]:
mynums = [1,2,3,4,5,6]

In [5]:
for item in map(square,mynums):
    print (item)

1
4
9
16
25
36

In [14]:
list(map(square,mynums))

[1, 4, 9, 16, 25, 36]

In [24]:
def splicer(mystring):
    if len(mystring) %2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [25]:
names = ['Max','Bruno','Sultan']

In [26]:
list(map(splicer,names))

['M', 'B', 'EVEN']

In [27]:
def check_even(num):
    return num %2 == 0

In [28]:
mynums = [1,2,3,4,5,6]

In [29]:
list(filter(check_even,mynums))

[2, 4, 6]

In [30]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [32]:
lambda num: num**2

In [34]:
square(9)

81

In [35]:
list(map(lambda num: num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [37]:
list(filter(lambda num: num%2 ==0, mynums))

[2, 4, 6]

In [38]:
names

['Max', 'Bruno', 'Sultan']

In [48]:
list(map(lambda v:v[::-1],names))

['xaM', 'onurB', 'natluS']